# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\idea2021work\springboot-06-springSecurity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
