<html>
<head>
    <meta charset="utf-8">
    <title>黑马旅游-注册</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" href="css/register.css">
	<script src="js/jquery-3.3.1.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/axios-0.19.0.js"></script>
	<style>
        #msg {
            color: red;
            font-size: 12px;
        }
		
		 #sendSmsCode {
            font-size: 12px;
        }
    </style>
</head>
<body>
<!--引入头部-->
<div id="header">
</div>
<!-- 头部 end -->
<div class="rg_layout" id="app">
    <div class="rg_form clearfix">
        <div class="rg_form_left">
            <p>新用户注册</p>
            <p>USER REGISTER</p>
        </div>
        <div class="rg_form_center">
            <!--注册表单-->
            <form id="registerForm">
                <table style="margin-top: 25px;width: 558px">
                    <tr>
                        <td class="td_left">
                            <label for="username">用户名</label>
                        </td>
                        <td class="td_right">
                            <input type="text" id="username" placeholder="请输入账号" @blur="checkUsername" v-model="user.username">
                        </td>
                    </tr>
                    <tr>
                        <td class="td_left">
                            <label for="telephone">手机号</label>
                        </td>
                        <td class="td_right">
                            <input type="text" id="telephone" placeholder="请输入您的手机号" v-model="user.telephone">
                        </td>
                    </tr>
                    <tr>
                        <td class="td_left">
                            <label for="password">密码</label>
                        </td>
                        <td class="td_right">
                            <input type="password" id="password" placeholder="请输入密码" autocomplete="off" v-model="user.password">
                        </td>
                    </tr>
                    <tr>
                        <td class="td_left">
                            <label for="smsCode">验证码</label>
                        </td>
                        <td class="td_right check">
                            <input type="text" maxlength="6" id="smsCode" class="check" placeholder="请输入验证码" v-model="smsCode">
                            <input type="button" id="sendSmsCode" value="发送手机验证码" class="btn btn-success"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_left">
                        </td>
                        <td class="td_right check">
                            <input type="button" class="submit" value="注册" @click="userSubmit()">
                            <!-- 修改样式写法 -->
                            <span id="msg" :style="{color: infoColor}">{{msg}}</span>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="rg_form_right">
            <p>
                已有账号？
                <a href="login.html">立即登录</a>
            </p>
        </div>
    </div>
</div>
<!--引入尾部-->
<div id="footer">
</div>
<script src="js/include.js"></script>

<script type="text/javascript">
    new Vue({
        el: "#app",
        data: {
            //表单属性
            user: {
                username: '',
                telephone: '',
                password: ''
            },
            //验证码
            smsCode: '',
            //提示信息
            msg: '',
            //修改文字颜色
            infoColor: 'red'
        },
        methods: {
            //注册按钮点击事件
            userSubmit() {
                axios.post("/user/register", this.user).then(resp => {
                	let resultInfo = resp.data;
                	if (resultInfo.success) {
                	    //注册成功
                        alert(resultInfo.message);
                        //跳转到注册成功的页面
                        location.href = "register_ok.html";
                    }
                	else {
                	    //注册失败
                        this.msg = resultInfo.message;
                        //设置为红色
                        this.infoColor = "red";
                    }
                });
            },

            //判断用户名是否存在
            checkUsername() {
                axios.get("/user/findByUserName?username=" + this.user.username).then(resp => {
                    let resultInfo = resp.data;
                    //可以注册
                    if (resultInfo.success) {
                        this.infoColor = "green";
                    }
                    //已经存在
                    else {
                        this.infoColor = "red";
                    }
                    //显示信息
                    this.msg = resultInfo.message;
                });
            }
        }

    });
</script>
</body>
</html>
